<ion-content [fullscreen]="true" class="signy-content">
  <div class="hud">
    <div class="hud-greeting">
      <h1>¡Hola de nuevo!</h1>
      <p>Sigamos aprendiendo LSCh</p>
    </div>

    <div class="hud-stats">
      <div class="stat-pill">
        <ion-icon name="flame"></ion-icon>
        <span>{{ racha }}</span>
      </div>
      <div class="stat-pill">
        <ion-icon name="star"></ion-icon>
        <span>{{ xp }}</span>
      </div>
      <div class="stat-pill">
        <ion-icon name="heart"></ion-icon>
        <span>{{ vidas }}</span>
      </div>
    </div>
  </div>

  <div class="path">
    <ng-container *ngFor="let nivel of niveles; let i = index; let last = last">
      <div class="path-row" [class.align-left]="i % 2 === 0" [class.align-right]="i % 2 !== 0">
        <button
          class="node"
          [class.node-completado]="nivel.estado === 'completado'"
          [class.node-actual]="nivel.estado === 'actual'"
          [class.node-bloqueado]="nivel.estado === 'bloqueado'"
          [disabled]="nivel.estado === 'bloqueado'">

          <ion-icon *ngIf="nivel.estado === 'completado'" name="checkmark"></ion-icon>
          <ion-icon *ngIf="nivel.estado === 'bloqueado'" name="lock-closed"></ion-icon>
          <span *ngIf="nivel.estado === 'actual'">{{ nivel.numero_nivel }}</span>

          <span class="node-ring" *ngIf="nivel.estado === 'actual'"></span>
        </button>

        <div class="node-label" [class.label-right]="i % 2 === 0" [class.label-left]="i % 2 !== 0">
          <p class="node-title">{{ nivel.nombre }}</p>
          <p class="node-desc">{{ nivel.descripcion }}</p>
        </div>
      </div>

      <div class="trail" *ngIf="!last">
        <ion-icon name="paw" class="trail-paw"></ion-icon>
        <ion-icon name="paw" class="trail-paw"></ion-icon>
        <ion-icon name="paw" class="trail-paw"></ion-icon>
      </div>
    </ng-container>
  </div>
</ion-content>