<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Signy - Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>¡Bienvenido!</strong>
    <p>Inicia sesión para continuar</p>

    <ion-item>
      <ion-input label="Correo electrónico" label-placement="floating" type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Contraseña" label-placement="floating" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="handleLogin()" class="ion-margin-top">
      Iniciar Sesión
    </ion-button>

    <ion-button expand="block" (click)="handleRegister()" color="secondary" class="ion-margin-top">
      Registrarse
    </ion-button>

    <!-- Componente de alerta que se mostrará cuando sea necesario -->
    <ion-alert [isOpen]="isAlertOpen" [header]="alertHeader" [message]="alertMessage" [buttons]="alertButtons" (didDismiss)="isAlertOpen = false"></ion-alert>
  </div>
</ion-content>
